body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.4em;
	background: rgb(218,203,203);
	background: linear-gradient(180deg, rgba(218,203,203,1) 0%, rgba(255,255,255,1) 100%);
	color: #fff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
	width: 100%;
	height: 100%;
}

.App {
	position: absolute;
	width: 330px;
	height: 646px;
	top: 50%;
	left: 50%;
	margin: -323px 0 0 -165px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	border-radius: 20px;
	border: solid 8px #fff;
	background: rgb(232,69,169);
	background: linear-gradient(32deg, rgba(232,69,169,1) 0%, rgba(101,71,92,1) 58%);
	box-shadow: 0px 0px 15px 5px rgba(150,150,150,0.75);
}

.Button {
	width: 25%;
	height: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid #fff;
	cursor: pointer;
	position: relative;
}

.App div:nth-child(2),
.App div:nth-child(17) {
	width: 50%;
}

.App div:nth-child(17) {
	border-radius: 0 0 0 10px;
}

.App div:nth-child(19) {
	border-radius: 0 0 10px 0;
}

.Display {
	width: 100%;
	height: 40%;
	font-size: 1.5em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #fff;
	padding: 20px;
	background: rgb(72,92,85);
	background: linear-gradient(180deg, rgba(72,92,85,1) 20%, rgba(101,71,92,1) 100%);
	border-radius: 10px 10px 0 0;
}

.Display-text {
	position: relative;
	word-break: break-all;
}

.Display-tag {
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	margin-left: -35px;
	font-size: 0.35em;
	font-family: "Roboto Slab";
	text-align: center;
	color: #999;
	background-color: #fff;
	z-index: 1000;
	transform: perspective(10px) rotateX(-10deg);
	border-radius: 0 0 5px 5px;
	height: 30px;
	width: 70px;
}

.Display-tag p {
	margin: 0;
	padding-bottom: 5px;
	transform: perspective(10px) rotateX(10deg);
}

.fade-out {
	animation: fade-out-animation 0.5s;
}

@keyframes fade-out-animation {
	from { opacity: 1; top: 0; }
    to   { opacity: 0; top: 50px; }
}

.fade-in {
	animation: fade-in-animation 0.5s;
}

@keyframes fade-in-animation {
	from { opacity: 0; bottom: 50px; }
    to   { opacity: 1; bottom: 0;}
}

.lighten {
	animation: lighten-animation 0.5s;
	background-color: rgba(522,255,255,0.2);
}

@keyframes lighten-animation {
	from { background-color: rgba(0,0,0,0); }
    to   { background-color: rgba(255,255,255,0.2); }
}

.delighten {
	animation: delighten-animation 0.5s;
}

@keyframes delighten-animation {
	from { background-color: rgba(255,255,255,0.2); }
    to   { background-color: rgba(0,0,0,0); }
}
